<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alpha-pureride.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>alpha-pureride.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>alpha-pureride</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$alpha-pureride</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PureRideDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dev-sql02-pureride.database.windows.net,1433;Initial Catalog=pureride;User ID=devadmin@dev-sql02-pureride;Password=2015-sqldev;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:dev-sql02-pureride.database.windows.net,1433;Database=pureride;User ID=website@dev-sql02-pureride;Password=SDS45!Fdf£$321xcds£%;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PureRideDatabase_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dev-sql02-pureride.database.windows.net,1433;Database=pureride;User ID=website@dev-sql02-pureride;Password=SDS45!Fdf£$321xcds£%;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="umbracoDbDSN" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:dev-sql02-pureride.database.windows.net,1433;Initial Catalog=pureride;User ID=devadmin@dev-sql02-pureride;Password=2015-sqldev;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:dev-sql02-pureride.database.windows.net,1433;Initial Catalog=pureride;User ID=umbraco@dev-sql02-pureride;Password=3dfsa45£saf3era$$%£%;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:dev-sql02-pureride.database.windows.net,1433;Database=pureride;User ID=umbraco@dev-sql02-pureride;Password=3dfsa45£saf3era$$%£%;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PureRideDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dev-sql02-pureride.database.windows.net,1433;Initial Catalog=pureride;User ID=devadmin@dev-sql02-pureride;Password=2015-sqldev;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dev-sql02-pureride.database.windows.net,1433;Initial Catalog=pureride;User ID=devadmin@dev-sql02-pureride;Password=2015-sqldev;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>