<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Account ANY>
<!ATTLIST Account id ID #REQUIRED>
<!ELEMENT Billingaddress ANY>
<!ATTLIST Billingaddress id ID #REQUIRED>
<!ELEMENT Bookingcomplete ANY>
<!ATTLIST Bookingcomplete id ID #REQUIRED>
<!ELEMENT Classes ANY>
<!ATTLIST Classes id ID #REQUIRED>
<!ELEMENT ClassSchedule ANY>
<!ATTLIST ClassSchedule id ID #REQUIRED>
<!ELEMENT Creditpacks ANY>
<!ATTLIST Creditpacks id ID #REQUIRED>
<!ELEMENT Credits ANY>
<!ATTLIST Credits id ID #REQUIRED>
<!ELEMENT Credittransactionhistory ANY>
<!ATTLIST Credittransactionhistory id ID #REQUIRED>
<!ELEMENT Forgottenpassword ANY>
<!ATTLIST Forgottenpassword id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT Instructor ANY>
<!ATTLIST Instructor id ID #REQUIRED>
<!ELEMENT Locationpage ANY>
<!ATTLIST Locationpage id ID #REQUIRED>
<!ELEMENT Login ANY>
<!ATTLIST Login id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Pagenotfound ANY>
<!ATTLIST Pagenotfound id ID #REQUIRED>
<!ELEMENT Payment ANY>
<!ATTLIST Payment id ID #REQUIRED>
<!ELEMENT Paymentcancelled ANY>
<!ATTLIST Paymentcancelled id ID #REQUIRED>
<!ELEMENT Preregister ANY>
<!ATTLIST Preregister id ID #REQUIRED>
<!ELEMENT Purchasecompleted ANY>
<!ATTLIST Purchasecompleted id ID #REQUIRED>
<!ELEMENT Register ANY>
<!ATTLIST Register id ID #REQUIRED>
<!ELEMENT Resetpassword ANY>
<!ATTLIST Resetpassword id ID #REQUIRED>
<!ELEMENT Seatselection ANY>
<!ATTLIST Seatselection id ID #REQUIRED>
<!ELEMENT StudioLocation ANY>
<!ATTLIST StudioLocation id ID #REQUIRED>
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
<!ELEMENT Updatedetails ANY>
<!ATTLIST Updatedetails id ID #REQUIRED>
<!ELEMENT Updatepassword ANY>
<!ATTLIST Updatepassword id ID #REQUIRED>
<!ELEMENT XmlSitemap ANY>
<!ATTLIST XmlSitemap id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-17T19:48:16" updateDate="2015-05-17T19:51:39" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1055" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1050" nodeTypeAlias="Homepage">
    <pagedescription><![CDATA[home description]]></pagedescription>
    <Textpage id="1056" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2015-05-17T19:51:54" updateDate="2015-07-28T10:43:43" nodeName="About" urlName="about" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[About]]></pagetitle>
      <shownInNavigation>1</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
    </Textpage>
    <Locationpage id="1057" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2015-05-17T19:52:20" updateDate="2015-07-28T10:37:51" nodeName="Our Locations" urlName="our-locations" path="-1,1054,1057" isDoc="" nodeType="1062" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1061" nodeTypeAlias="Locationpage">
      <pagetitle><![CDATA[Our Locations]]></pagetitle>
      <shownInNavigation>1</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
      <StudioLocation id="1144" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2015-07-17T08:15:39" updateDate="2015-07-17T08:15:50" nodeName="Default Location Page" urlName="default-location-page" path="-1,1054,1057,1144" isDoc="" nodeType="1143" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1142" nodeTypeAlias="StudioLocation">
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </StudioLocation>
      <StudioLocation id="1145" parentID="1057" level="3" creatorID="0" sortOrder="1" createDate="2015-07-17T08:16:33" updateDate="2015-07-17T08:16:33" nodeName="River Street" urlName="river-street" path="-1,1054,1057,1145" isDoc="" nodeType="1143" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1142" nodeTypeAlias="StudioLocation">
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </StudioLocation>
    </Locationpage>
    <Credits id="1109" parentID="1054" level="2" creatorID="0" sortOrder="2" createDate="2015-06-26T16:40:28" updateDate="2015-08-04T10:18:58" nodeName="Credits" urlName="credits" path="-1,1054,1109" isDoc="" nodeType="1108" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1107" nodeTypeAlias="Credits">
      <pagetitle><![CDATA[Buy Credits]]></pagetitle>
      <shownInNavigation>1</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
      <Billingaddress id="1118" parentID="1109" level="3" creatorID="0" sortOrder="0" createDate="2015-07-01T09:40:34" updateDate="2015-07-31T08:22:57" nodeName="Billing Address" urlName="billing-address" path="-1,1054,1109,1118" isDoc="" nodeType="1117" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1110" nodeTypeAlias="Billingaddress">
        <pagetitle><![CDATA[Confirm Purchase]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Billingaddress>
      <Payment id="1119" parentID="1109" level="3" creatorID="0" sortOrder="1" createDate="2015-07-01T09:40:49" updateDate="2015-07-22T09:37:09" nodeName="Payment" urlName="payment" path="-1,1054,1109,1119" isDoc="" nodeType="1113" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1112" nodeTypeAlias="Payment">
        <pagetitle><![CDATA[Payment]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Payment>
      <Creditpacks id="1125" parentID="1109" level="3" creatorID="0" sortOrder="3" createDate="2015-07-02T18:35:44" updateDate="2015-07-28T11:21:51" nodeName="CreditPacks" urlName="creditpacks" path="-1,1054,1109,1125" isDoc="" nodeType="1124" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1123" nodeTypeAlias="Creditpacks">
        <pagetitle><![CDATA[Buy Credits]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Creditpacks>
      <Purchasecompleted id="1160" parentID="1109" level="3" creatorID="0" sortOrder="4" createDate="2015-07-31T09:28:02" updateDate="2015-07-31T09:31:29" nodeName="Thank you" urlName="thank-you" path="-1,1054,1109,1160" isDoc="" nodeType="1158" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1157" nodeTypeAlias="Purchasecompleted">
        <pagetitle><![CDATA[Purchase Compelted]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Purchasecompleted>
      <Paymentcancelled id="1166" parentID="1109" level="3" creatorID="0" sortOrder="4" createDate="2015-07-31T11:26:47" updateDate="2015-07-31T11:54:51" nodeName="Payment Cancelled" urlName="payment-cancelled" path="-1,1054,1109,1166" isDoc="" nodeType="1165" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1164" nodeTypeAlias="Paymentcancelled">
        <pagetitle><![CDATA[Payment Error]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
        <error><![CDATA[Please try again. If the problem persists contact Member services.]]></error>
        <notauthed><![CDATA[Unfortunately your card was rejected by the bank. Press retry to use another card. ]]></notauthed>
        <abort><![CDATA[You have selected to cancel and no payment has been taken. If this was a mistake please press retry below.]]></abort>
        <rejected><![CDATA[Unfortunately your card was rejected. Press retry to use another card. ]]></rejected>
      </Paymentcancelled>
    </Credits>
    <Classes id="1060" parentID="1054" level="2" creatorID="0" sortOrder="3" createDate="2015-05-17T20:00:07" updateDate="2015-08-04T10:18:59" nodeName="Classes" urlName="classes" path="-1,1054,1060" isDoc="" nodeType="1064" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1063" nodeTypeAlias="Classes">
      <pagetitle><![CDATA[Book Classes]]></pagetitle>
      <shownInNavigation>1</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
      <pastClass><![CDATA[The selected class has already taken place so is not available to view.]]></pastClass>
      <futureClass><![CDATA[The selected class is not yet available to book. You are able to view advance classes however you can only book from up to 8 days in advanced.]]></futureClass>
      <pastClassTitle><![CDATA[Class has Already Started]]></pastClassTitle>
      <futureClassTitle><![CDATA[Not yet Available]]></futureClassTitle>
      <startingSoonTitle><![CDATA[Class about to Begin]]></startingSoonTitle>
      <startingsoon><![CDATA[This class is due to start soon so we are not able to take any more bookings for this class.]]></startingsoon>
      <alreadyBookedTitle><![CDATA[Class Booked]]></alreadyBookedTitle>
      <alreadyBooked><![CDATA[You are currently booked to attend this class.]]></alreadyBooked>
      <waitingListTitle><![CDATA[Class Fully Booked]]></waitingListTitle>
      <waitingList><![CDATA[This class is currently fully booked however you can join our waiting list and you will be informed if a space  becomes available.]]></waitingList>
      <ClassSchedule id="1132" parentID="1060" level="3" creatorID="0" sortOrder="2" createDate="2015-07-07T09:33:39" updateDate="2015-07-28T10:59:58" nodeName="Class Schedule" urlName="class-schedule" path="-1,1054,1060,1132" isDoc="" nodeType="1083" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1127" nodeTypeAlias="ClassSchedule">
        <pagetitle><![CDATA[Book Classes]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </ClassSchedule>
      <Bookingcomplete id="1133" parentID="1060" level="3" creatorID="0" sortOrder="3" createDate="2015-07-07T09:33:53" updateDate="2015-07-07T09:33:53" nodeName="Booking Complete" urlName="booking-complete" path="-1,1054,1060,1133" isDoc="" nodeType="1131" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1130" nodeTypeAlias="Bookingcomplete" />
      <Seatselection id="1134" parentID="1060" level="3" creatorID="0" sortOrder="4" createDate="2015-07-07T09:34:05" updateDate="2015-07-07T09:34:05" nodeName="Seat Selection" urlName="seat-selection" path="-1,1054,1060,1134" isDoc="" nodeType="1129" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1128" nodeTypeAlias="Seatselection" />
    </Classes>
    <Account id="1096" parentID="1054" level="2" creatorID="0" sortOrder="4" createDate="2015-06-02T20:57:55" updateDate="2015-08-04T10:19:00" nodeName="Account" urlName="account" path="-1,1054,1096" isDoc="" nodeType="1091" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1090" nodeTypeAlias="Account">
      <pagetitle><![CDATA[Your Account]]></pagetitle>
      <shownInNavigation>0</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
      <Forgottenpassword id="1097" parentID="1096" level="3" creatorID="0" sortOrder="0" createDate="2015-06-02T20:59:07" updateDate="2015-07-22T12:30:23" nodeName="Forgotten Password" urlName="forgotten-password" path="-1,1054,1096,1097" isDoc="" nodeType="1093" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1092" nodeTypeAlias="Forgottenpassword">
        <pagetitle><![CDATA[Forgotten Password]]></pagetitle>
        <textcontent><![CDATA[<p>Please enter your email address below to receive a password reset link.</p>]]></textcontent>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Forgottenpassword>
      <Resetpassword id="1098" parentID="1096" level="3" creatorID="0" sortOrder="1" createDate="2015-06-02T20:59:29" updateDate="2015-07-22T10:19:59" nodeName="ResetPassword" urlName="resetpassword" path="-1,1054,1096,1098" isDoc="" nodeType="1095" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1094" nodeTypeAlias="Resetpassword">
        <pagetitle><![CDATA[Reset Password]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Resetpassword>
      <Register id="1099" parentID="1096" level="3" creatorID="0" sortOrder="2" createDate="2015-06-02T20:59:50" updateDate="2015-07-22T10:20:10" nodeName="Register" urlName="register" path="-1,1054,1096,1099" isDoc="" nodeType="1089" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1088" nodeTypeAlias="Register">
        <pagetitle><![CDATA[Register]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Register>
      <Login id="1100" parentID="1096" level="3" creatorID="0" sortOrder="3" createDate="2015-06-02T21:00:05" updateDate="2015-07-22T11:27:42" nodeName="Login" urlName="login" path="-1,1054,1096,1100" isDoc="" nodeType="1087" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1067" nodeTypeAlias="Login">
        <pagetitle><![CDATA[Login]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Login>
      <Updatedetails id="1105" parentID="1096" level="3" creatorID="0" sortOrder="4" createDate="2015-06-05T21:06:45" updateDate="2015-07-23T16:33:17" nodeName="Update Details" urlName="update-details" path="-1,1054,1096,1105" isDoc="" nodeType="1102" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1101" nodeTypeAlias="Updatedetails">
        <pagetitle><![CDATA[Edit]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>1</shownInAccount>
      </Updatedetails>
      <Updatepassword id="1106" parentID="1096" level="3" creatorID="0" sortOrder="5" createDate="2015-06-05T21:07:05" updateDate="2015-07-24T08:44:33" nodeName="Update Password" urlName="update-password" path="-1,1054,1096,1106" isDoc="" nodeType="1104" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1103" nodeTypeAlias="Updatepassword">
        <pagetitle><![CDATA[Change your Password]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>1</shownInAccount>
      </Updatepassword>
      <Textpage id="1141" parentID="1096" level="3" creatorID="0" sortOrder="6" createDate="2015-07-13T08:52:07" updateDate="2015-07-22T10:20:52" nodeName="Health Agreement Declaration" urlName="health-agreement-declaration" path="-1,1054,1096,1141" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
        <pagetitle><![CDATA[Health Agreement Declaration]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Textpage>
      <Preregister id="1148" parentID="1096" level="3" creatorID="0" sortOrder="7" createDate="2015-07-21T16:10:03" updateDate="2015-07-22T11:41:45" nodeName="PreRegister" urlName="preregister" path="-1,1054,1096,1148" isDoc="" nodeType="1147" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1146" nodeTypeAlias="Preregister">
        <pagetitle><![CDATA[Register]]></pagetitle>
        <textcontent><![CDATA[<p>Please enter your email address in the box below.</p>]]></textcontent>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
      </Preregister>
      <Credittransactionhistory id="1151" parentID="1096" level="3" creatorID="0" sortOrder="8" createDate="2015-07-24T14:35:50" updateDate="2015-08-03T14:43:16" nodeName="Credits" urlName="credits" path="-1,1054,1096,1151" isDoc="" nodeType="1150" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1149" nodeTypeAlias="Credittransactionhistory">
        <pagetitle><![CDATA[Your Credits]]></pagetitle>
        <shownInNavigation>0</shownInNavigation>
        <shownInFooter>0</shownInFooter>
        <shownInAccount>0</shownInAccount>
        <activecreditpacktitle><![CDATA[Active Credits]]></activecreditpacktitle>
        <activecreditpacktext><![CDATA[The credits listed below have been purchased and are valid to purchase classes with.]]></activecreditpacktext>
        <expiredcreditpacktitle><![CDATA[Expired Credits]]></expiredcreditpacktitle>
        <expiredcreditpacktext><![CDATA[The credits listed below have been used or are no longer valid to purchase classes with.]]></expiredcreditpacktext>
      </Credittransactionhistory>
    </Account>
    <Textpage id="1136" parentID="1054" level="2" creatorID="0" sortOrder="5" createDate="2015-07-09T11:47:44" updateDate="2015-08-04T10:19:01" nodeName="Terms and Conditions" urlName="terms-and-conditions" path="-1,1054,1136" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[Terms and Conditions]]></pagetitle>
      <shownInNavigation>0</shownInNavigation>
      <shownInFooter>1</shownInFooter>
      <shownInAccount>0</shownInAccount>
    </Textpage>
    <Textpage id="1058" parentID="1054" level="2" creatorID="0" sortOrder="6" createDate="2015-05-17T19:52:33" updateDate="2015-08-04T10:19:02" nodeName="Community" urlName="community" path="-1,1054,1058" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <shownInNavigation>8</shownInNavigation>
    </Textpage>
    <Textpage id="1059" parentID="1054" level="2" creatorID="0" sortOrder="7" createDate="2015-05-17T19:52:52" updateDate="2015-08-04T10:19:03" nodeName="Cookies" urlName="cookies" path="-1,1054,1059" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[Cookies]]></pagetitle>
      <shownInNavigation>0</shownInNavigation>
      <shownInFooter>1</shownInFooter>
      <shownInAccount>0</shownInAccount>
    </Textpage>
    <Textpage id="1137" parentID="1054" level="2" creatorID="0" sortOrder="8" createDate="2015-07-09T11:48:13" updateDate="2015-07-22T09:36:28" nodeName="Your Privacy" urlName="your-privacy" path="-1,1054,1137" isDoc="" nodeType="1053" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1052" nodeTypeAlias="Textpage">
      <pagetitle><![CDATA[Your Privacy]]></pagetitle>
      <shownInNavigation>0</shownInNavigation>
      <shownInFooter>1</shownInFooter>
      <shownInAccount>0</shownInAccount>
    </Textpage>
    <Pagenotfound id="1140" parentID="1054" level="2" creatorID="0" sortOrder="9" createDate="2015-07-09T12:07:47" updateDate="2015-07-22T10:23:31" nodeName="Page Not Found" urlName="page-not-found" path="-1,1054,1140" isDoc="" nodeType="1139" creatorName="John kilmister" writerName="John kilmister" writerID="0" template="1138" nodeTypeAlias="Pagenotfound">
      <pagetitle><![CDATA[Page Not Found]]></pagetitle>
      <textcontent><![CDATA[<p>We can’t find the page you're looking for, we’re terribly sorry.</p>]]></textcontent>
      <shownInNavigation>0</shownInNavigation>
      <shownInFooter>0</shownInFooter>
      <shownInAccount>0</shownInAccount>
    </Pagenotfound>
  </Homepage>
</root>