@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutContentPage.cshtml";
}

<ul class="todo">
    <li>Address Lookup</li>
    <li>Show Summary of the Purchase and Make this a confirm page</li>
</ul>

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

@Html.Action("BillingAddressForm", "BillingAddress")