@using System.Linq
@using System.Web.Optimization
@using PureRide.Web.ViewModels.Booking
@inherits UmbracoViewPage<RenderModel<ClassScheduleModel>>
@{
    Layout = "_LayoutContentPage.cshtml";
    ViewBag.Title = string.Format("{0} - {1} Studio", Umbraco.Field("PageTitle"), Model.PureRide.Location);
}
 
@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}
@section PageSubTitle{@(string.Concat("::" , Model.PureRide.Location , "::"))}

<ul class="todo">
    <li>Overlay Booked</li>
    <li>Buttons for cancel</li>
    <li>Buttons for wiatinglist</li>
</ul>

<div class="row">
    <div class="col-md-7">
        Filter <input type="text" maxlength="100" placeholder="Instructor, Class or Studio" />
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-6">
                Last Few Spaces
            </div>
            <div class="col-md-6">
                Booked
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Waiting List
            </div>
            <div class="col-md-6">
                On Waiting List
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
               45-Min Class
            </div>
            <div class="col-md-6">
                90-Min Class
            </div>
        </div>
    </div>
</div>

@Html.React("ClassScheduleContainer", new
{
        location = ViewContext.RouteData.Values["location"],
        url = "/api/classes",
        classes = Model.PureRide.Days.ToArray(),
        messages = Model.PureRide.Messages
})

@Html.Partial("ReactJs")
@Scripts.Render("~/bundles/booking")
@Html.ReactInitJavaScript()