@inherits UmbracoViewPage<RenderModel<PureRide.Web.ViewModels.Location.LocationsModel>>
@{
    Layout = "_LayoutContentPage.cshtml";
}

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}
@section PageSubTitle{@Html.Raw(":: Select Your Location ::")}
<ul>
    @foreach (var location in Model.PureRide.Locations)
    {
        <li><a href="/@(location.Name.ToStudioSlug())/classes/">@location.Name</a></li>
    }
</ul>