@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<h1 style="text-align: center; padding: 2px; margin: 2px; font-size: 90px; line-height: 100%;letter-spacing:30px">PURE RIDE</h1>
<h5 style="text-align: center; padding: 2px; margin: 2px; font-size: 30px;padding-bottom:200px;line-height:110%">CLIP AND SPIN</h5>