@using System.Web.Optimization
@inherits UmbracoViewPage<RenderModel<PureRide.Web.ViewModels.Location.LocationsModel>>
@{
    Layout = "_LayoutContentPage.cshtml";
}

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

@section OutSideContainer{
    <div id="map-canvas" class="map-canvas"></div>
}

<ul class="todo">
    <li>Number Markers</li>
    <li>Add details to the click</li>
    <li>Map is centred on first pin at the moment, needs fixing</li>
</ul>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
@Html.Partial("ReactJs")
@Scripts.Render("~/bundles/locations")

@Html.ReactWithInit("LocationContainer", new
    {
        locations = Model.PureRide.Locations,
        regions = Model.PureRide.Regions,
    })
