@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutContentPage.cshtml";
}

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

<ul class="todo">
    <li>Test Card: 4929 0000 0000 6</li>
</ul>

<iframe src="@ViewBag.Url" scrolling="no" class="payment-iframe" seamless="true" border="0" width="100%" height="600px"></iframe>