@inherits UmbracoTemplatePage
@{
    Layout = "_LayoutContentPage.cshtml";
}

@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

@Html.Raw(Umbraco.Field("bodyText").ToHtmlString()) 

Reference Number @Request.Params["txAuthNo"]


<a href="/classes/" class="btn--primary btn">Book Classes</a>