@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_LayoutContentPage.cshtml";
}


@section PageTitle{@Umbraco.Field("PageTitle").ToHtmlString()}

<ul class="todo">
    <li>Message when update sucessful</li>
</ul>

@Umbraco.Field("bodyText").ToHtmlString() 
@Html.Action("UpdatePasswordForm", "UpdatePassword")