@model PureRide.Web.ViewModels.SiteEnvironmentModel
<div class="notification-bar">
    <span class="notification-bar__message" onclick="function(e){e.target.style='display:none;'}">PureRide @Model.Environment.ToString() Site Version @Model.Version</span> 
</div>